@inherits BalisesWebPage
@using Albatros.DNN.Modules.Balises.Common;
@using Albatros.Balises.Core.Repositories;
@{
    BalisesModuleContext.AddCss("bootstrap.min.css", "bootstrap", "3.3.6");
    BalisesModuleContext.AddCss("jquery.bootgrid.min.css", "bootgrid", "1.3.1");
    BalisesModuleContext.AddScript("jquery.bootgrid.min.js", "bootgrid", "1.3.1");
    BalisesModuleContext.AddScript("moment-with-locales.min.js", "moment", "2.11.2");
}

<h3>@Dnn.LocalizeString("SubmittedFlights")</h3>

<table id="flightsGrid" class="table table-condensed table-hover table-striped">
 <thead>
  <tr>
   <th data-column-id="FlightId" data-type="numeric" data-identifier="true" data-visible="false">ID</th>
   <th data-column-id="TakeoffTime" data-header-css-class="bg_medcol" data-formatter="datime">@Dnn.LocalizeString("Takeoff")</th>
   <th data-column-id="Pilot">@Dnn.LocalizeString("Pilot")</th>
   <th data-column-id="TakeoffDescription">@Dnn.LocalizeString("Takeoff")</th>
   <th data-column-id="LandingDescription">@Dnn.LocalizeString("Landing")</th>
   <th data-column-id="DurationMins" data-header-css-class="bg_smallcol colTime" data-formatter="duration"></th>
   <th data-column-id="Distance" data-header-css-class="bg_smallcol colDistance" data-formatter="distance"></th>
   <th data-column-id="NrBeacons" data-header-css-class="bg_iconcol colNrBeacons"></th>
   <th data-column-id="TotalPoints" data-header-css-class="bg_iconcol colTotalPoints"></th>
   <th data-column-id="NrComments" data-header-css-class="bg_iconcol colNrComments"></th>
   <th data-formatter="viewer" data-header-css-class="bg_iconcol"></th>
  </tr>
 </thead>
 <tbody>
@foreach (var f in FlightRepository.Instance.GetFlightsByStatus(Dnn.PortalSettings.PortalId, 1).OrderBy(f => f.TakeoffTime))
{
<tr>
 <td>@f.FlightId</td>
 <td>@f.TakeoffTime</td>
 <td>@f.Pilot</td>
 <td>@f.TakeoffDescription</td>
 <td>@f.LandingDescription</td>
 <td>@f.DurationMins</td>
 <td>@f.Distance</td>
 <td>@f.NrBeacons</td>
 <td>@f.TotalPoints</td>
 <td>@f.NrComments</td>
 <td></td>
</tr>
}
 </tbody>
</table>

<script type="text/javascript">
 (function($, Sys) {
  $(document).ready(function () {
   moment.locale('@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName');
   $('#flightsGrid').bootgrid({
    formatters: {
     "datime": function(column, row)
     {
      var m = moment(row.TakeoffTime);
      return m.format('lll');
     },
     "duration": function(column, row)
     {
      var d = moment.duration(row.DurationMins, 'minutes');
      return d.hours() + ':' + d.minutes();
     },
     "distance": function(column, row)
     {
      var d = Math.round(row.Distance/100)/10;
      return d + ' km';
     },
     "viewer": function(column, row)
     {
      return '<a href="@Url.Action("View", "Flight")?FlightId=' + row.FlightId + '&ret=v-sf" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>';
     }
    },
    rowCount: 10,
    columnSelection: false
   })
    .on("loaded.rs.jquery.bootgrid", function (e)
    {
     $('th.colTime a span.text').html('<span class="glyphicon glyphicon-time"></span>').attr('title', '@Dnn.LocalizeString("Duration")');
     $('th.colDistance a span.text').html('<span class="glyphicon glyphicon-resize-horizontal"></span>').attr('title', '@Dnn.LocalizeString("Distance")');
     $('th.colNrBeacons a span.text').html('<span class="glyphicon glyphicon-map-marker"></span>').attr('title', '@Dnn.LocalizeString("NrBeacons")');
     $('th.colTotalPoints a span.text').html('<span class="glyphicon glyphicon-dashboard"></span>').attr('title', '@Dnn.LocalizeString("TotalPoints")');
     $('th.colNrComments a span.text').html('<span class="glyphicon glyphicon-comment"></span>').attr('title', '@Dnn.LocalizeString("NrComments")');
    });
  });
 }(jQuery, window.Sys));
</script>
