@inherits BalisesWebPage<FlightBase>
@using Albatros.DNN.Modules.Balises.Common;
@using Albatros.Balises.Core.Models.Flights;
@using Albatros.Balises.Core.Repositories;
@using DotNetNuke.Web.Mvc.Helpers;
@{
    BalisesModuleContext.AddJqueryUi();
    BalisesModuleContext.AddBootstrapCss();
    BalisesModuleContext.AddModuleScript();
    BalisesModuleContext.AddScript("moment-with-locales.min.js", "moment", "2.11.2");
    BalisesModuleContext.AddScript("bootstrap-datetimepicker.min.js", "bootstrap-datetimepicker", "4.17.37");
    BalisesModuleContext.AddCss("bootstrap-datetimepicker.min.css", "bootstrap-datetimepicker", "4.17.37");
    BalisesModuleContext.AddScript("bootstrap-clockpicker.min.js", "bootstrap-clockpicker", "0.0.7");
    BalisesModuleContext.AddCss("bootstrap-clockpicker.min.css", "bootstrap-clockpicker", "0.0.7");
}

<div class="albatrosBalises" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(BalisesModuleContext.Security))">
</div>

<div id="editFlight">

 <fieldset>
  <div class="dnnFormItem">
   <div class="dnnLabel" style="position: relative;">
    <label>@Dnn.LocalizeString("FlightDate")</label>
   </div>
   <input type="text" id="FlightDate" data-editor="date" data-value="@Model.TakeoffTime.ToString("yyyy-MM-dd")"
          value="@Model.TakeoffTime.ToString("d")" @((Model.EntryMethod != 0) ? "disabled" : "") />
  </div>
 </fieldset>

 <table class="table">
  <tr>
   <th style="width:100px"></th>
   <th style="width:120px;">@Dnn.LocalizeString("Time")</th>
   <th>@Dnn.LocalizeString("Description")</th>
   <th>@Dnn.LocalizeString("Coordinates")</th>
  </tr>
  <tr>
   <td><strong>@Dnn.LocalizeString("Start")</strong></td>
   <td>
    <div class="input-group clockpicker">
     <input type="text" class="form-control" data-editor="time" data-val="TakeoffTime" data-date="FlightDate" id="pickTakeoffTime"
            value="@Model.TakeoffTime.ToString("HH:mm")" />
     <span class="input-group-addon">
      <span class="glyphicon glyphicon-time"></span>
     </span>
    </div>
   </td>
   <td>
    @Html.TextBoxFor(m => m.TakeoffDescription, new { @class = "form-control", data_editor = "siteselect", data_coords = "TakeoffCoords" })
   </td>
   <td>
    <div class="input-group">
     @Html.TextBoxFor(m => m.TakeoffCoords, new { @class = "form-control", data_validator = "coordinates" })
     <span class="input-group-addon clickable">
      <span class="glyphicon glyphicon-search"></span>
     </span>
    </div>
   </td>
  </tr>
  <tr>
   <td><strong>@Dnn.LocalizeString("Landing")</strong></td>
   <td>
    <div class="input-group clockpicker">
     <input type="text" class="form-control" data-editor="time" data-val="LandingTime" data-date="FlightDate" id="pickLandingTime"
            value="@Model.LandingTime.ToString("HH:mm")" />
     <span class="input-group-addon" id="cmdSearchTakeoff">
      <span class="glyphicon glyphicon-time"></span>
     </span>
    </div>
   </td>
   <td>
    @Html.TextBoxFor(m => m.LandingDescription, new { @class = "form-control", data_editor = "siteselect", data_coords = "LandingCoords" })
   </td>
   <td>
    <div class="input-group">
     @Html.TextBoxFor(m => m.LandingCoords, new { @class = "form-control", data_validator = "coordinates" })
     <span class="input-group-addon clickable" id="cmdSearchLanding">
      <span class="glyphicon glyphicon-search"></span>
     </span>
    </div>
   </td>
  </tr>
 </table>
</div>

<div style="margin-bottom: 30px;">
 <h4>@Dnn.LocalizeString("Summary")</h4>
 @Html.TextAreaFor(m => m.Summary, 6, 100, new { @class = "form-control" })
</div>

@if (Model.EntryMethod != 0)
{
 <div class="viewMap"
      data-moduleid="@Dnn.ModuleContext.ModuleId"
      data-apikey="@BalisesModuleContext.Settings.GoogleMapApiKey"
      data-flight="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlightRepository.Instance.GetFlight(Dnn.PortalSettings.PortalId, Model.FlightId)))"
      data-track="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlightBeaconRepository.Instance.GetFlightBeaconsByFlight(Model.FlightId)))"
      style="width:100%;height:500px;">
 </div>
}

@Html.HiddenFor(m => m.TakeoffLatitude)
@Html.HiddenFor(m => m.TakeoffLongitude)
@Html.HiddenFor(m => m.TakeoffTime)
@Html.HiddenFor(m => m.LandingLatitude)
@Html.HiddenFor(m => m.LandingLongitude)
@Html.HiddenFor(m => m.LandingTime)

<div class="right">
 @if (Model.FlightId > 0)
 {
 @Html.ActionLink(Dnn.LocalizeString("Delete"), "Delete", "Flight", new { FlightId = Model.FlightId }, new { @class = "btn btn-default cmdDelete" })
 }
 <button type="submit" class="btn btn-primary" id="cmdSave">@Dnn.LocalizeString("Save")</button>
</div>

<script type="text/javascript">
 (function ($, Sys) {
  $(document).ready(function () {

   setupForm($('#editFlight'), $('#cmdSave'), $('#formErrors'), '@(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberDecimalSeparator)');

   $('input[data-editor="time"]').change(function (e) {
    SetTimes();
   });
   $('#FlightDate').on('dp.hide', function (e) {
    $(e.target).attr('data-value', e.date.format());
    SetTimes();
   });

   $('#TakeoffDescription').autocomplete({
    source: function(request, response) {
     window.AlbatrosBalises.modules[@Dnn.ModuleContext.ModuleId].service.listTakeoffs(request.term, function(data) {
      response(data)
     })
    },
    select: function(event, ui) {
     $('#TakeoffCoords').val(ui.item.coords);
    }
   });
   $('#LandingDescription').autocomplete({
    source: function(request, response) {
     window.AlbatrosBalises.modules[@Dnn.ModuleContext.ModuleId].service.listLandings(request.term, function(data) {
      response(data)
     })
    },
    select: function(event, ui) {
     $('#LandingCoords').val(ui.item.coords);
    }
   });

   $('#cmdSearchTakeoff').click(function(e){
    e.preventDefault();
    window.AlbatrosBalises.modules[@Dnn.ModuleContext.ModuleId].service.searchClosestTakeoff($('#TakeoffCoords').val(), function(data) {
     if (data.length > 0) {
      $('#TakeoffDescription').val(data[0].Name);
      $('#TakeoffCoords').val(data[0].Coords);
     }
    })
   });
   $('#cmdSearchLanding').click(function(e){
    e.preventDefault();
    window.AlbatrosBalises.modules[@Dnn.ModuleContext.ModuleId].service.searchClosestLanding($('#LandingCoords').val(), function(data) {
     if (data.length > 0) {
      $('#LandingDescription').val(data[0].Name);
      $('#LandingCoords').val(data[0].Coords);
     }
    })
   });

   $('.cmdDelete').click(function () {
    return confirm('@Dnn.LocalizeString("DeleteFlight.Confirm")');
   });

  });

  function SetTimes(dt) {
   var dt = $('#FlightDate').attr('data-value').substring(0,10);
   $('#TakeoffTime').val(dt + 'T' + $('#pickTakeoffTime').val() + ":00");
   $('#LandingTime').val(dt + 'T' + $('#pickLandingTime').val() + ":00");
  }
 }(jQuery, window.Sys));
</script>
