@inherits BalisesWebPage<Flight>
@using Albatros.DNN.Modules.Balises.Common;
@using Albatros.Balises.Core.Models.Flights;
@using Albatros.Balises.Core.Repositories;
@{
    BalisesModuleContext.AddModuleScript();
}

<div class="albatrosBalises" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(BalisesModuleContext.Security))">
</div>

<h3>@String.Format(Dnn.LocalizeString("FlightTitle"), Model.TakeoffDescription, Model.TakeoffTime)</h3>

<div>
 <dl class="dl-horizontal">
  <dt>@Dnn.LocalizeString("Pilot")</dt>
  <dd>@Model.CreatedByUser</dd>
  <dt>@Dnn.LocalizeString("TakeoffTime")</dt>
  <dd>@Model.TakeoffTime.ToString("g")</dd>
  <dt>@Dnn.LocalizeString("Start")</dt>
  <dd>@Model.TakeoffDescription</dd>
  <dt>@Dnn.LocalizeString("Distance")</dt>
  <dd>@((int)(0.5 + Model.Distance / 100.0) / 10.0) km</dd>
  <dt>@Dnn.LocalizeString("Duration")</dt>
  <dd>@((new System.TimeSpan(0, Model.DurationMins, 0)).ToString("h\\:mm"))</dd>
  <dt>@Dnn.LocalizeString("LandingTime")</dt>
  <dd>@Model.LandingTime.ToString("t")</dd>
  <dt>@Dnn.LocalizeString("Landing")</dt>
  <dd>@Model.LandingDescription</dd>
  <dt>@Dnn.LocalizeString("Points")</dt>
  <dd>@Model.TotalPoints</dd>
  <dt>@Dnn.LocalizeString("Status")</dt>
  <dd>
   @(Model.Status)
  </dd>
 </dl>
 <h3>@Dnn.LocalizeString("History")</h3>
 <div class="ab-audit-log">
  <div>
   @(String.Format(Dnn.LocalizeString("SubmittedByString"), Model.CreatedByUser, Model.CreatedOnDate))
  </div>
  @if (Model.LastModifiedOnDate != Model.CreatedOnDate)
  {
  <div>
   @(String.Format(Dnn.LocalizeString("LastModifiedByString"), Model.LastModifiedByUser, Model.LastModifiedOnDate))
  </div>
  }
  @if (Model.Status > 1)
  {
  <div>
   @(String.Format(Dnn.LocalizeString("ValidatedByString"), Model.ValidatedByUser, Model.ValidatedOnDate))
  </div>
  }
 </div>
</div>

<h3>@Dnn.LocalizeString("Track")</h3>

<div class="viewMap"
     data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-apikey="@BalisesModuleContext.Settings.GoogleMapApiKey"
     data-flight="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model))"
     data-track="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlightBeaconRepository.Instance.GetFlightBeaconsByFlight(Model.FlightId)))"
     style="width:100%;height:500px;">
</div>

<div style="width:100%;text-align:right;margin-top:30px;">
 <a href="@Request.UrlReferrer.PathAndQuery" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
</div>