@inherits BalisesWebPage<Flight>
@using Albatros.DNN.Modules.Balises.Common;
@using Albatros.Balises.Core.Models.Flights;
@using Albatros.Balises.Core.Repositories;
@{
    BalisesModuleContext.AddModuleScript();
    var commentsPageSize = 5;
    var commentList = CommentRepository.Instance.GetComments(Model.FlightId, 0, commentsPageSize);
    var totalComments = commentList.TotalCount;
}

<div class="albatrosBalises" data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(BalisesModuleContext.Security))">
</div>

<h3>@String.Format(Dnn.LocalizeString("FlightTitle"), Model.TakeoffDescription, Model.TakeoffTime)</h3>

<div class="row">
 <div class="col-xs-12 col-sm-6">
  <dl class="dl-horizontal">
   <dt>@Dnn.LocalizeString("Pilot")</dt>
   <dd>@Model.CreatedByUser</dd>
   <dt>@Dnn.LocalizeString("TakeoffTime")</dt>
   <dd>@Model.TakeoffTime.ToString("g")</dd>
   <dt>@Dnn.LocalizeString("Start")</dt>
   <dd>@Model.TakeoffDescription</dd>
   <dt>@Dnn.LocalizeString("LandingTime")</dt>
   <dd>@Model.LandingTime.ToString("t")</dd>
   <dt>@Dnn.LocalizeString("Landing")</dt>
   <dd>@Model.LandingDescription</dd>
   <dt>@Dnn.LocalizeString("Distance")</dt>
   <dd>@((int)(0.5 + Model.Distance / 100.0) / 10.0) km</dd>
   <dt>@Dnn.LocalizeString("Duration")</dt>
   <dd>@((new System.TimeSpan(0, Model.DurationMins, 0)).ToString("h\\:mm"))</dd>
   @if (Model.EntryMethod != 0)
   {
   <dt>@Dnn.LocalizeString("MaxVario")</dt>
   <dd>@Model.MaxVario @Dnn.LocalizeString("mps")</dd>
   <dt>@Dnn.LocalizeString("MaxSpeed")</dt>
   <dd>@Model.MaxSpeed.ToKmPerHour() @Dnn.LocalizeString("kph")</dd>
   <dt>@Dnn.LocalizeString("AverageSpeed")</dt>
   <dd>@Model.AverageSpeed.ToKmPerHour() @Dnn.LocalizeString("kph")</dd>
   }
   <dt>@Dnn.LocalizeString("Points")</dt>
   <dd>@Model.TotalPoints</dd>
   <dt>@Dnn.LocalizeString("Status")</dt>
   <dd class="btnStatus" data-moduleid="@Dnn.ModuleContext.ModuleId" data-status="@Model.Status" data-flightid="@Model.FlightId" data-type="buttonandtext" data-pilotid="@Model.UserId">
   </dd>
  </dl>
 </div>
 <div class="col-xs-12 col-sm-6">
  <p><strong>@Dnn.LocalizeString("History")</strong></p>
  <div class="ab-audit-log">
   <div>
    @(String.Format(Dnn.LocalizeString("SubmittedByString"), Model.CreatedByUser, Model.CreatedOnDate))
   </div>
   @if (Model.LastModifiedOnDate != Model.CreatedOnDate)
   {
   <div>
    @(String.Format(Dnn.LocalizeString("LastModifiedByString"), Model.LastModifiedByUser, Model.LastModifiedOnDate))
   </div>
   }
   @if (Model.Status > 1)
   {
   <div>
    @(String.Format(Dnn.LocalizeString("ValidatedByString"), Model.ValidatedByUser, Model.ValidatedOnDate))
   </div>
   }
  </div>
 </div>
</div>

<div>
</div>

<h3>@Dnn.LocalizeString("Track")</h3>

<div class="viewMap"
     data-moduleid="@Dnn.ModuleContext.ModuleId"
     data-apikey="@BalisesModuleContext.Settings.GoogleMapApiKey"
     data-flight="@(Newtonsoft.Json.JsonConvert.SerializeObject(Model))"
     data-track="@(Newtonsoft.Json.JsonConvert.SerializeObject(FlightBeaconRepository.Instance.GetFlightBeaconsByFlight(Model.FlightId).OrderBy(fb => fb.PassageTime)))"
     style="width:100%;height:500px;margin-bottom:30px;">
</div>

 <div class="commentsComponent" data-moduleid="@Dnn.ModuleContext.ModuleId"
      data-loggedin="@((Dnn.User.UserID > 0).ToString().ToLower())"
      data-flight="@Model.FlightId" 
      data-pagesize="@commentsPageSize" 
      data-totalcomments="@totalComments"
      data-comments="@(Newtonsoft.Json.JsonConvert.SerializeObject(commentList))"
      data-apppath="@DotNetNuke.Common.Globals.ApplicationPath">
 </div>

<div style="width:100%;text-align:right;margin-top:30px;">
 @if ((Model.UserId == Dnn.User.UserID & Model.Status != 4) || BalisesModuleContext.Security.IsVerifier)
 {
 <a href="@Url.Action("Edit", new { FlightId = Model.FlightId })" class="btn btn-default">@Dnn.LocalizeString("Edit")</a>
 }
 @if (Request.Params["ret"] == null || Request.Params["ret"] == "p-v")
 {
  <a href="@Url.Action("View", "Pilot", new { UserId = Model.UserId })" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
 }
 else
 {
  <a href="@Url.Action("Index", "Home")" class="btn btn-primary">@Dnn.LocalizeString("Return")</a>
 }
</div>